.student-card {
  display: block;
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .student-card:hover {
    transform: none;
  }
}

.student-card:hover {
  transform: translateY(-20px);
}

.student-card:hover .arrow-buttons {
  display: flex;
}

.student-card .arrow-buttons {
  display: none;
}
