@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    position:absolute;
    top:0;
    z-index:-1;
  } 

.nav-clr.white{
  color: white;
}

.nav-clr.black{
 color: black;
}
.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Toppers page section*/

.student-card {
  display: block;
  transition: transform 0.3s;
}

@media (min-width: 425px) {
  .student-card:hover .stud-image {
    width: 200px;
    height: 170px;
    transition: width 0.3s, height 0.3s;
  }
}

.student-card:hover .arrow-buttons {
  display: flex;
  transition: height 0.5s;
}

.student-card .arrow-buttons {
  display: none;
}
