@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    position:absolute;
    top:0;
    z-index:-1;
  } 

.nav-clr.white{
  color: white;
}

.nav-clr.black{
 color: black;
}
